.recommendedResult {
  hr {
    border-top: 4px solid #f1f0f8;
    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: 768px) {
      margin-top: 16px;
      margin-bottom: 16px;
      border-top: 1px solid #f1f0f8;
    }
    @media (min-width: 992px) {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
  .media-body {
    position: relative;
    height: 150px;
    @media (min-width: 992px) {
      height: 175px;
    }
  }
  .roomCost {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.roomPhoto {
  object-fit: cover;
  width: 150px;
  height: 150px;
  @media (min-width: 992px) {
    width: 225px;
    height: 175px;
  }
}

.deals-mark span {
  padding: 4px 8px;
  border-radius: 13px;
  @media (min-width: 768px) {
    font-size: 10px;
  }
  @media (min-width: 992px) {
    font-size: 12px;
  }
}

.recommendedResult {
}
