.input-h56 {
  height: 56px;
}
.input-w232 {
  width: 232px;
}
.btn-h56 {
  height: 56px;
}
.bg-h320 {
  height: 320px;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}
